<%= render 'components/containers/crud_container' do %>
  <h3>General Information</h3>
  <hr>
  <p>
    <strong>Recipient:</strong>
    <%= @message.recipient %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @message.content %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= link_to @message.student.name, @message.student %>
  </p>

  <%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-success btn-sm mr-1' %> 
  <%= link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
<% end %>
