
<%= render 'components/containers/crud_form_container' do %>
  <h1>Update password</h1><hr>
  <%= simple_form_for(@user, url: '/profile/update_password') do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
